*
{
    margin: 0px;
}
header
{
    height: 100px;
    background-color: blueviolet;
}
header ul li
{
    display: inline-block;
    margin-left: 20px;
    
}
header ul li a
{
    color: white;
}
section
{
    height: 400px;
    background-color: burlywood;
}
footer
{
    height: 100px;
    background-color: blueviolet;
}