<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=\, initial-scale=1.0">
    <title>Document</title>
    <link href="/static/css/style.css" type="text/css" rel="stylesheet" />
</head>
<body>
    <div id="container">
        <header>
            <ul>
                <li> <a href="/fivepages">Home</a> </li>
                <li> <a href="/fivepages/aboutus">About us</a> </li>
                <li> <a href="/fivepages/services">Services</a> </li>
                <li> <a href="/fivepages/gallery">Gallery</a> </li>
                <li> <a href="/fivepages/contactus">Contact us</a> </li>
            </ul>
        </header>
        <section>
          <h1>Welcome in About Page</h1>
          <iframe width="560" height="315" src="https://www.youtube.com/embed/FqZBn7apUqM" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        </section>
       <footer>
  
       </footer>
  
      </div>
</body>
</html>