{% extends 'fivepages/layout.html' %}
{% block middle %}
        <section>
            <div style="float:left;width:29%;height:100%;border:1px solid red;margin-left: 20px;;">
                <h1>Welcome in Gallery Page</h1>
            </div>
            <div style="float:left;width:29%;height:100%;border:1px solid red;margin-left: 20px;">
                <h1>Welcome in Gallery Page</h1>
            </div>
            <div style="float:left;width:29%;height:100%;border:1px solid red;margin-left: 20px;">
                <h1>Welcome in Gallery Page</h1>
            </div>
        </section>
{% endblock %}     